
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 70vh;
    background-size: max(1380px,100vw);
    /* @media screen {
        min-width: 455px;
    } */
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.74;
    position: absolute;
    top:0;
    background-color: black;  
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 60vw;
    height: 62px;
    margin: auto;
}
.nav img{
    width: 114px;
    position: relative;
    z-index: 10;
}
.nav button{
    position: relative;
    z-index: 10;
}
.text{
    /* @media screen and (min-width:960px) {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.5;
    } */
    font-family:'Martel Sans',sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    height: calc(100% - 62px);
    position: relative;
    gap: 23px;
}
.text> :nth-child(1){
    font-weight: 900;
    font-size: 48px ;
    text-align: center;
}
.text> :nth-child(2){
    font-weight: 400;
    font-size: 24px ;
    text-align: center;
}
.text> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.btn{
    padding: 0 8px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}
.btn.lang{
    background-color: rgba(255, 255, 255, 0);
    font-weight: 400;
    padding: 5px 10px 2px 10px ;
    border: 1px solid rgba(255, 255, 255, 0.274);
    color: white;
    border-radius: 2px;  
    display: flex;
    gap: 5px;  
}
.red-sn{
    background-color: red;
    color: white;
    font-weight: 400;
    border: rgba(255, 0, 0, 0.5);
    border-radius: 2px;    
    padding: 3px 10px 2px 10px;
}

.red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 400;
}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.email input{
    padding: 7px 100px 8px 14px;;
    border-radius: 4px;
    font-weight: 500;
    border: 1px solid rgb(255, 255, 255,0.5);
    font-size: 12px;
    background-color: rgba(23, 23, 23, 0.3);
}
.seperate {
    background-color: rgb(70, 66, 66);
    height: 7px;
}

/* Section Work here */


.first-section{
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    margin: 40px 0px 100px 0px;
}

.first-text>:nth-child(1){
    font-size: 48px;
    font-weight: 900;
    /* padding: 30px; */
}

.first-text>:nth-child(2){
    font-size: 20px;
    font-weight: 400;
}
.first-text>:nth-child(3){
    font-size: 20px;
    font-weight: 400;
}
.first-img img{
    width: 560px;
    position: relative;
    z-index: 10;
}
.first-img video{
    position: absolute;
    width: 482px;
    top: 80px;
    right: 0;
}
.first-img{
    position: relative;
    top: 0;
}
/* Second section */

.second-section{
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    margin: 40px 0px 100px 0px;
}

.second-text>:nth-child(1){
    font-size: 48px;
    font-weight: 900;
    padding-top: 40px;
    padding-bottom: 10px;
}

.second-text>:nth-child(2){
    font-size: 48px;
    font-weight: 900;
}
.second-text>:nth-child(3){
    font-size: 20px;
    font-weight: 400;
}
.second-text>:nth-child(4){
    font-size: 20px;
    font-weight: 400;
}
.second-img img{
    /* mix-blend-mode: difference; */
    max-width: 59vh;
    position: relative;
    z-index: 10;
}

/* Third section */


.third-section{
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    margin: 40px 0px 100px 0px;
}

.third-text>:nth-child(1){
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}

.third-text>:nth-child(2){
    font-size: 20px;
    font-weight: 400;
}
.third-text>:nth-child(3){
    font-size: 20px;
    font-weight: 400;
}
.third-img img{
    max-width: 560px;
    position: relative;
    z-index: 10;
}
.third-img video{
    position: absolute;
    top: 60px;
    right: 0;
    width: 486px;
}
.third-img{
    position: relative;
    top: 0;
}

/* fourth section */

.fourth-section{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 40px 0px 100px 0px;
    color: white;
}

.fourth-text>:nth-child(1){
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}

.fourth-text>:nth-child(2){
    font-size: 20px;
    font-weight: 400;
}
.fourth-text>:nth-child(3){
    font-size: 20px;
    font-weight: 400;
}
.fourth-img img{
    /* mix-blend-mode: difference; */
    max-width: 59vh;
    position: relative;
    z-index: 10;
}
.fourth-img video{
    position: absolute;
    top: 80px;
    right: 0;
    /* width: 418px;
    height: 420px; */
}
.fourth-img{
    position: relative;
    top: 0;
}


/* FAQ's */

.faq{
    background-color: black;
    color: white;
    padding: 34px;
}
h2{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}
.faq-box{
    font-weight: 400;
    font-size: 24px;
    display: flex;
    padding: 24px;
    align-items: center;
    background-color: #2d2d2d;
    justify-content: space-between;
    max-width: 60vw;
    margin: 10px auto;
    border-radius: 20px;
    cursor: pointer;
    transition: all 2s ease-out;
}
.faq-box:hover{
    background-color: #414141 ;    
}
.faq-box svg{
    color: white;
}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
    gap: 20px;
}
.footer{
    margin-top: 50px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer{
    max-width: 60vw;
    margin: 90px auto;
    color: white;
    font-weight: 400;
    font-size: 14px;
}
footer span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.footer-lists a:hover{
    text-decoration: underline;
}
.footer-lists a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: grey;
    text-decoration: underline;
}
.footer-lists{
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 23px;
}
@media screen and (max-width: 1291px){
    .nav img{
        margin: 5px 30px 0px 0px;
    }
    .nav{
        max-width: 90vw;
    }
}
@media screen and (max-width: 1291px) {

    .text>:nth-child(1){
        font-size: 32px;
        flex-wrap: wrap;
    }
    .text>:nth-child(2){
        font-size: 16px;
        flex-wrap: wrap;
    }
    .text>:nth-child(3){
        flex-wrap: wrap;
        font-size: 14px;
    }
    .text .email #user_id{
        margin-bottom: 10px;
        margin-top: 8px;
        padding: 7px 0px 8px 10px;
        font-size: 10px;
    }
    .text .email .red{
        padding: 3px 8px;
        font-size: 14px;
    }
}
@media screen and (max-width: 1291px) {
    .first-section{
        flex-wrap: wrap;
        text-align: center;
    }
    .first-text>:nth-child(1){
        font-size: 32px;
        flex-wrap: wrap;
    }
    .first-text>:nth-child(2){
        font-size: 18px;
        flex-wrap: wrap;
    }
    .first-text>:nth-child(3){
        font-size: 18px;
        flex-wrap: wrap;
    }
    
    .first-img img{
        max-width: 323px;
    }
    .first-img video{
        top: 50px;
        width: 276px;
    }
}
@media screen and (max-width: 1291px) {
    .second-section{
        flex-wrap: wrap;
        text-align: center;
    }
    .second-text>:nth-child(1){
        font-size: 28px;
        flex-wrap: wrap;
    }
    .second-text>:nth-child(2){
        font-size: 28px;
        flex-wrap: wrap;
    }
    .second-text>:nth-child(3){
        font-size: 16px;
        flex-wrap: wrap;
    }
    .second-text>:nth-child(4){
        font-size: 16px;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1291px) {
    .third-section{
        flex-wrap: wrap;
        text-align: center;
    }
    .third-img img{
        max-width: 321px;
    }
    .third-img video{
        top: 30px;
        width: 276px;
    }
    .third-text>:nth-child(1){
        font-size: 28px;
        flex-wrap: wrap;
    }
    .third-text>:nth-child(2){
        font-size: 16px;
        flex-wrap: wrap;
    }
    .third-text>:nth-child(3){
        font-size: 16px;
        flex-wrap: wrap;
    }
    .third-text>:nth-child(4){
        font-size: 16px;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1291px) {

    .fourth-section{
        flex-wrap: wrap;
        text-align: center;
    }
    .fourth-img img{
        width: 320px;
    }
    .fourth-text>:nth-child(1){
        font-size: 28px;
        flex-wrap: wrap;
    }
    .fourth-text>:nth-child(2){
        font-size: 12px;
        flex-wrap: wrap;
    }
    .fourth-text>:nth-child(3){
        font-size: 12px;
        flex-wrap: wrap;
    }
    .fourth-text>:nth-child(4){
        font-size: 12px;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1291px) {
    .end{
        flex-wrap: wrap;
        text-align: center;
    }
    .end #user_id{
        margin-bottom: 10px;
        padding: 7px 0px 8px 14px;
    }
    .end .email{
        flex-wrap: wrap;
    }
    .end .email .red{
        padding: 3px 8px;
        font-size: 16px;
    }
}
@media screen and (max-width: 1291px) {
    .faq-box{
        padding: 12px;
        font-size: 16px;
        margin: 10px auto;
    }
}
@media screen and (max-width: 1291px) {
    .footer{
        display: grid;
        gap: 28px;
        grid-template-columns: 1fr 1fr;
    }
    .faq h2{
        font-size: 32px;
    }
}